$fonttext: "Gilroy";

.container__heder {
  margin-bottom: 100px;
  .container__heder-boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container__heder-nav .nav__ul {
      display: flex;
      margin-right: 30px;
      .nav__ul-li {
        margin: 0 10px;
        font-size: 15px;
      }
    }
  }
}
.nav__ul-li a {
  color: black;
}
.nav__ul-li a:hover {
  color: rgb(14, 14, 219);
  opacity: 0.3;
  transform: scale(1.05);
}
.header__ringht {
  display: flex;
  align-items: center;
  .header__ringht-img {
    margin-right: 10px;
  }
  .header__ringht-text {
    margin-right: 25px;
  }
  .header__button {
    background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    width: 150px;
    height: 45px;
    border: none;
    .header__button-title {
      font-family: $fonttext;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      color: #ffffff;
    }
  }
}
.header__button:active {
  opacity: 0.3;
  transform: scale(1.05);
}

.header__hover {
  margin-top: 50px;
  background-image: url("../img/фон.svg");
  background-size: cover;
  width: 1289px;
  height: 297px;
  margin-right: 83px;
  position: relative;
  right: 97px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 30px;
}
.header__hover-boxs {
  .header__hover-title {
    font-family: $fonttext;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 70px;
    color: #c3c1c1;
  }
  .header__hover-subtitle {
    font-family: $fonttext;
    font-style: normal;
    font-weight: 800;
    font-size: 43px;
    line-height: 30px;
    color: #ffffff;
  }
  .header__hover-text {
    font-family: $fonttext;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
  }
}
.header__hover-button {
  width: 240px;
  height: 55px;
  border: none;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  .button_text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
}
.header__hover-button:active{
  opacity: 0.1;
}


